<form>
    <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>First Name</mat-label>
          <input matInput >
          <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput >
            <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>
    </div>

    <div>
        <app-test-child [dataSource]="dataSource"></app-test-child>
    </div>
</form>