<mat-toolbar color="primary">
  <button mat-button class="mat-title" routerLink="home">
    <h3>Angular 14 Test Application</h3>
  </button>
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="aboveMenu">Forms</button>
  <mat-menu #aboveMenu="matMenu" yPosition="above">
    <button routerLink="typed-form" mat-menu-item>Reactive Typed Form</button>
    <button routerLink="search-user" mat-menu-item>Search User</button>
  </mat-menu>
  
  <button mat-button [matMenuTriggerFor]="belowMenu">Module</button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item routerLink="shopping-cart">Shopping Cart</button>
    <button mat-menu-item routerLink="lazy">Lazy loaded module</button>
    <button mat-menu-item routerLink="lazy-test">Lazy test loaded module</button>
  </mat-menu>
  
  <button mat-button [matMenuTriggerFor]="beforeMenu">Auth</button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item routerLink="can-activate">Can Activate</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  
  
  <button mat-button [matMenuTriggerFor]="afterMenu">Charts</button>
  <mat-menu #afterMenu="matMenu" xPosition="after">
    <button mat-menu-item routerLink="chart-examples">Chart Examples</button>
    <button mat-menu-item routerLink="vertical-bar-chart">Vertical Bar Chart</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="otherMenu">Other</button>
  <mat-menu #otherMenu="matMenu" xPosition="after">
    <button mat-menu-item routerLink="clipboard">Clipboard example</button>
    <button mat-menu-item>Test</button>
  </mat-menu>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>