/* You can add global styles to this file, and also import other style files */
@use './theme.scss' as *;
@import '~@angular/material/theming';

@include mat-core();

// $mat-theming-primary: mat-palette($mat-blue-grey);
// $mat-theming-accent: mat-palette($mat-pink, A200, A100);

/* For use in src/lib/core/theming/_palette.scss */

// $my-custom-app-primary: mat-palette($app-custom-palette);
$my-custom-app-primary: mat-palette($mat-blue-grey);
$my-custom-app-accent:  mat-palette($mat-pink, 500, 900, A100);
$my-custom-app-warn:    mat-palette($mat-deep-orange);
$my-custom-app-theme: mat-light-theme($my-custom-app-primary, $my-custom-app-accent, $my-custom-app-warn);
// $my-custom-app-theme: mat-dark-theme($my-custom-app-primary, $my-custom-app-accent, $my-custom-app-warn);
@include angular-material-theme($my-custom-app-theme);

.alternate-theme {
    $alternate-primary: mat-palette($mat-light-blue);
    $alternate-accent:  mat-palette($mat-yellow, 400);
    $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);
    @include angular-material-theme($alternate-theme);
}

body {
    background-color: var(--bg-color);
    color: $primary;
    margin: 0px;
}

p {
    font-weight: 400;
    @include text-style;
}

.grid {
    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    grid-template-columns: 1fr;
    // grid-row: 1;
    gap: 10px;
}